.mainbox{
     padding: 15px;
     margin:auto;
}
@media (max-width:500px){
    .oneheader h1{
        font-size:25px;
    
    }
    .myphoto{
   
     width: 80px;
     height: 80px;
     margin-bottom: 8px;
    }    
    .oneheader{
     display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 15px 0;
        align-items: center;
        height: auto;
    }
    
   .mainbox{
    padding: 15px;
    margin:auto;
    max-width: 420px;
   }

}

.oneheader{
    height:150px;
    background-color: rgb(0, 0, 0);
  
    margin-top: 0;
    display: flex;
    align-items: center;
    padding-left: 40px;
    gap:20px;
    justify-content: space-evenly;

}
.myphoto{
    height:110px;
    width:110px;
    border:2px solid black;
    border-radius:50%;
    position:absolute;
    top:40px;
    left:40px;
    overflow: hidden; 
    flex-shrink: 0;

}
 .oneheader h1{
    text-align:center;
    color: rgb(255, 255, 255);
   line-height: 150px;
    font-size: 42px;
    margin: 0;
  
    
}
.one h2{
    display:inline-block;
    padding-left:5px;
    text-decoration:underline solid rgb(111, 74, 172);
    font-weight: bolder;
    color:blue;
     margin-top:10px;
     margin-bottom:3px;
}


.collegeeducation{
 
   justify-content:space-between;
   align-items:center;

}

.collegeeducation h3{
   font-size: 16px;
    margin-top:0;
     text-decoration: underline solid black;
   


   font-size:20px;


  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;


}
     


.collegeeducation p{
    margin-top:10px;
   margin-bottom: 8px;
}

.senioreducation{
    text-decoration: solid underline;
   
   
}
.senioreducation h3{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size:20px;


  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}
.classten h4{
    margin-top:5px;
    margin-bottom: 15px;
    display: inline-block;
}
.classten ul{
    margin-top: 5px;
    margin-bottom:10px;
}
.classtweleve h4{
     display: inline-block;
margin-top:5px;
    margin-bottom: 10px;
}

.classtweleve ul{
    margin-top: 5px;
    margin-bottom:10px;
}
.skill{
    color: blue;
    margin-bottom: 5px;
    margin-top:10px;
}
.skilllist{
    margin-top:5px;
    margin-bottom: 5px;
}
.skilllist li{
    font-size:20px;
     text-decoration: underline solid black;
     margin-bottom: 5px;
     font-weight: 300;
     font-size:20px;


  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;

}
.skilllist p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.certi{
    color: blue;
    margin-bottom: 5px;
}
.certilist{
    margin-top:5px;
    margin-bottom:3px;
    
}

.contact{
    color:blue;
    margin-bottom: 3px;
    margin-top:5px;
}
.phonenum{
margin-bottom:8px;
}
.mail{
    margin-top:6px;
}


